.card-holder {
  display: flex;
  justify-content: center;
}

.card {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 3px 2px var(--box-shadow-color);
  background-color: var(--primary-background-color);
  height: 300px;
  width: 300px;
  transform: rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 1500ms;
  cursor: pointer;
  transform: perspective(5000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  --rotate-y: 180deg;
  box-shadow: 0 0 5px 2px var(--hover-box-shadow-color);
}

.front,
.back {
  position: absolute;
  padding: 1rem;
  color: var(--secondary-color);
  backface-visibility: hidden;
  transform: rotateX(0deg)
}

.front {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front p {
  text-align: center;
}

.front p:first-child {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  width: 50px;
  border-radius: 50px;
  font-size: 20px;
  padding: 10px;
}

.back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 15px;
}


.action-buttons {
  text-align: center;
}

.prev-next-btns {
  color: var(--text-color);
  transition: 1500ms;
}

.prev-btn {
  background-color: var(--prev-btn-color);
  color: white;
  transition: 1500ms;
}

.next-btn {
  background-color: var(--next-btn-color);
  color: white;
  transition: 1500ms;
}

.header-btns {
  color: var(--header-text-color);
  transition: 1500ms;
}

.NavBar {
  background-color: var(--navBar-bg-color);
  transition: 1500ms;
}

.main-wrapper {
  background-color: var(--body-bcakground-color);
  transition: 1500ms;
  height: 100vh
}

.dark-mode-btn {
  background-color: var(--dark-mode-btn-bg-color);
  color: var(--dark-mode-btn-text-color);
  width: 170px;
  height: 50px;
  transition: 1500ms;
}

.dark-mode-btn:hover {
  background-color: var(--dark-mode-btn-bg-color);
  color: var(--dark-mode-btn-text-color)
}

.dark-mode-btn img {
  height: 30px;
  width: 30px
}